
.hide{
	display:none !important;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  vertical-align:3px;
}

.arrow-sml {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-top:6px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.vanilla-main{
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.vanilla-main > div:not(.vanilla-center){
  cursor:pointer;
  border:1px solid #B2B2B2;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius:4px;
   border-right: 1px solid #808080;
	  border-bottom: 1px solid #808080;
}


.vanilla-main > div:not(.vanilla-center){
	  border-right: 1px solid #808080;
	  border-bottom: 1px solid #808080;
}

.vanilla-main li{
	display: list-item;
	font-size: 13px;
	background-color: #fff;
	min-height:1.4em;
	padding: 6px 12px 6px 12px;
	border: 1px solid rgba(0,0,0,.15);
	margin-bottom:2px;
}

.vanilla-close{
	user-select:none;
	cursor:pointer;
	float:right;
	font-size: 16px;
    font-weight: 700;
    line-height: 1;
	padding:1px;
    color: #888;
    text-shadow: 0 1px 0 #fff;
}

.vanilla-add{
	user-select:none;
	cursor:pointer;
	float:right;
}

.vanilla-close:hover,.vanilla-add:hover{
	color:#2e44b9;
}

.vanilla-left li.chosen {
	background: linear-gradient(#4477bb, #3366aa); /* #4Ec0FF, #1E90FF 2e44b9*/
	color:#fff;
}

.vanilla-center{
	border:none;
	background-color:transparent;
}

.vanilla-center .vanilla-btn{
	font-size: 24px;
	color:#3366aa;
}

.vanilla-main li:not(.chosen):hover {
	background: linear-gradient(#f5f5f5, #e8e8e8);
}

.vanilla-main ul{
  user-select:none;
  list-style:none;
  white-space: nowrap;
  margin:0px;
  margin-top:4px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:3px;
  color: #333;
  cursor:pointer;
  overflow-y:auto;
}
